<hibernate-configuration>
    <session-factory>

        <!-- Update the schema without dropping tables -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Database connection settings -->
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/smsdb-ll?createDatabaseIfNotExist=true</property>
        <property name="connection.username">root</property>
        <property name="connection.password">password</property>

        <!-- MySQL DB dialect -->
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>

        <!--   Mapping entity file -->
        <mapping class="sba.sms.models.Student"/>
        <mapping class="sba.sms.models.Course"/>

    </session-factory>
</hibernate-configuration>